Repository volkov97/momenter: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint -- --fix

remove tools folder, prettier files
  .eslintignore
  .eslintrc.json
  package-lock.json
  package.json
  src/App.tsx
  src/index.html
  tools/rollup/rollup.config.common.js
  webpack.config.js
Due: prettier --write, npm run lint -- --fix

add styled components
  .editorconfig
  package-lock.json
  package.json
  src/App.styled.ts
  src/App.tsx
  tsconfig.json
Due: prettier --write, npm run lint -- --fix

update deps
  .babelrc
  package-lock.json
Due: prettier --write

clear project from react
  package-lock.json
  package.json
  src/App.styled.ts
  src/App.tsx
  src/index.html
  src/index.ts
  src/index.tsx
  webpack.config.js
Due: prettier --write, npm run lint -- --fix

add styles to webpack
  package-lock.json
  package.json
  src/index.html
  src/index.less
  src/index.ts
  webpack.config.js
Due: prettier --write, npm run lint -- --fix

plain example of countdown
  package-lock.json
  package.json
  src/index.html
  src/index.less
  src/index.ts
  src/lib/getTimeParts.ts
  src/types/index.ts
Due: prettier --write, npm run lint -- --fix

styles with 2 screens
  src/index.html
  src/index.less
  src/index.ts
Due: prettier --write, npm run lint -- --fix

update title
  src/index.ts
Due: prettier --write, npm run lint -- --fix

fix bug with minutes and seconds
  src/index.ts
Due: prettier --write, npm run lint -- --fix

edit text
  src/index.html
Due: none

edit now config to alias automatically
  now.json
Due: prettier --write

implement on react and antd
  .gitignore
  package-lock.json
  package.json
  src/App.styled.ts
  src/App.tsx
  src/components/Layout/Container.tsx
  src/components/Layout/Header.tsx
  src/components/Layout/TextContent.ts
  src/index.html
  src/index.less
  src/index.ts
  src/index.tsx
  src/lib/getTimeParts.ts
  src/lib/styles/mixins/media.ts
  src/pages/Countdown/Countdown.styled.ts
  src/pages/Countdown/Countdown.tsx
  src/pages/Countdown/index.ts
  src/pages/Home/Home.styled.ts
  src/pages/Home/Home.tsx
  src/pages/Home/index.tsx
  src/types/index.ts
  tsconfig.json
  webpack.config.js
Due: prettier --write, npm run lint -- --fix

ignore plugin for moment js
  src/index.html
  webpack.config.js
Due: prettier --write, npm run lint -- --fix

use material ui
  now.json
  package-lock.json
  package.json
  src/App.styled.ts
  src/components/CounterOptions/CounterOptions.styled.ts
  src/components/CounterOptions/CounterOptions.tsx
  src/components/Layout/TextContent.ts
  src/index.tsx
  src/pages/Home/Home.styled.ts
  src/pages/Home/Home.tsx
  webpack.config.js
Due: prettier --write, npm run lint -- --fix

add yandex metrika goals
  package-lock.json
  package.json
  src/App.tsx
  src/index.html
  src/index.tsx
  src/lib/hooks/useHitNavigationToMetrika.ts
  src/pages/Countdown/Countdown.tsx
  src/pages/Home/Home.tsx
Due: prettier --write, npm run lint -- --fix

more accurate time updates, update compund-timer
  package-lock.json
  package.json
Due: prettier --write

version js bundle
  webpack.config.js
Due: prettier --write, npm run lint -- --fix

add ru domain
  now.json
Due: prettier --write

fix query-string version
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write

use pickers without keyboard
  src/components/CounterOptions/CounterOptions.tsx
  src/pages/Countdown/Countdown.tsx
Due: prettier --write, npm run lint -- --fix

add app icons
  package.json
  src/index.html
  static/.DS_Store
  static/android-icon-144x144.png
  static/android-icon-192x192.png
  static/android-icon-36x36.png
  static/android-icon-48x48.png
  static/android-icon-72x72.png
  static/android-icon-96x96.png
  static/apple-icon-114x114.png
  static/apple-icon-120x120.png
  static/apple-icon-144x144.png
  static/apple-icon-152x152.png
  static/apple-icon-180x180.png
  static/apple-icon-57x57.png
  static/apple-icon-60x60.png
  static/apple-icon-72x72.png
  static/apple-icon-76x76.png
  static/apple-icon-precomposed.png
  static/apple-icon.png
  static/browserconfig.xml
  static/favicon-16x16.png
  static/favicon-32x32.png
  static/favicon-96x96.png
  static/favicon.ico
  static/manifest.json
  static/ms-icon-144x144.png
  static/ms-icon-150x150.png
  static/ms-icon-310x310.png
  static/ms-icon-70x70.png
  webpack.config.js
Due: prettier --write, npm run lint -- --fix

calendar page implemented
  .DS_Store
  src/App.tsx
  src/components/AppCard/AppCard.styled.ts
  src/components/AppCard/AppCard.tsx
  src/components/Layout/Header.tsx
  src/components/TimeLeft/TimeLeft.styled.ts
  src/components/TimeLeft/TimeLeft.tsx
  src/lib/hooks/useNativeLogic.ts
  src/pages/Calendar/Calendar.styled.ts
  src/pages/Calendar/Calendar.tsx
  src/pages/CalendarDayCountdown/CalendarDayCountdown.styled.ts
  src/pages/CalendarDayCountdown/CalendarDayCountdown.tsx
  src/pages/Home/Home.styled.ts
  src/pages/Home/Home.tsx
  static/.DS_Store
  static/images/calendar.jpg
  webpack.config.js
Due: prettier --write, npm run lint -- --fix

fix past dates in calendar
  package.json
  src/components/AppCard/AppCard.styled.ts
  src/pages/Calendar/Calendar.tsx
  src/pages/Home/Home.styled.ts
Due: prettier --write, npm run lint -- --fix

add share buttons on calendar day page
  package-lock.json
  package.json
  src/components/ShareLinks/ShareLinks.styled.ts
  src/components/ShareLinks/ShareLinks.tsx
  src/pages/CalendarDayCountdown/CalendarDayCountdown.styled.ts
  src/pages/CalendarDayCountdown/CalendarDayCountdown.tsx
  src/pages/CalendarDayCountdown/CountdownToDay/CountdownToDay.styled.ts
  src/pages/CalendarDayCountdown/CountdownToDay/CountdownToDay.tsx
Due: prettier --write, npm run lint -- --fix

title and description on share links
  src/components/ShareLinks/ShareLinks.tsx
  src/pages/CalendarDayCountdown/CalendarDayCountdown.tsx
Due: prettier --write, npm run lint -- --fix

add day info
  src/components/TimeLeft/TimeLeft.styled.ts
  src/lib/helpers/dayInfo.ts
  src/pages/CalendarDayCountdown/CalendarDayCountdown.styled.ts
  src/pages/CalendarDayCountdown/CalendarDayCountdown.tsx
Due: prettier --write, npm run lint -- --fix

add navigation on time to day page
  src/components/Breadcrumbs/Breadcrumbs.styled.ts
  src/components/Breadcrumbs/Breadcrumbs.tsx
  src/pages/CalendarDayCountdown/CalendarDayCountdown.styled.ts
  src/pages/CalendarDayCountdown/CalendarDayCountdown.tsx
Due: prettier --write, npm run lint -- --fix

fix metrika of first button click
  now.json
  src/pages/CalendarDayCountdown/CalendarDayCountdown.styled.ts
  src/pages/Home/Home.tsx
Due: prettier --write, npm run lint -- --fix

setup firebase config
  .firebaserc
  .gitignore
  firebase.json
  now.json
  package-lock.json
  package.json
  src/config/firebaseConfig.ts
  src/index.html
  src/index.tsx
Due: prettier --write, npm run lint -- --fix

Right title on day page for SEO
  src/pages/CalendarDayCountdown/CalendarDayCountdown.tsx
  src/pages/CalendarDayCountdown/CountdownToDay/CountdownToDay.tsx
Due: prettier --write, npm run lint -- --fix

use antd components
  package-lock.json
  package.json
  src/App.tsx
  src/components/AnimatedBackground/AnimatedBackground.ts
  src/components/AppCard/AppCard.styled.ts
  src/components/AppCard/AppCard.tsx
  src/components/Breadcrumbs/Breadcrumbs.styled.ts
  src/components/Breadcrumbs/Breadcrumbs.tsx
  src/components/CounterOptions/CounterOptions.styled.ts
  src/components/CounterOptions/CounterOptions.tsx
  src/components/DateSelector/DateSelector.styled.ts
  src/components/DateSelector/DateSelector.tsx
  src/components/Header/Header.styled.ts
  src/components/Header/Header.tsx
  src/components/TimeLeft/TimeLeft.styled.ts
  src/components/TimeLeft/TimeLeft.tsx
  src/components/__icons__/MomenterIcon.tsx
  src/index.tsx
  src/pages/Calendar/Calendar.styled.ts
  src/pages/Calendar/Calendar.tsx
  src/pages/CalendarDayCountdown/CalendarDayCountdown.styled.ts
  src/pages/CalendarDayCountdown/CalendarDayCountdown.tsx
  src/pages/CalendarDayCountdown/CountdownToDay/CountdownToDay.tsx
  src/pages/Countdown/Countdown.styled.ts
  src/pages/Home/Home.styled.ts
  src/pages/Home/Home.tsx
  src/types/react-responsive.d.ts
  webpack.config.js
Due: prettier --write, npm run lint -- --fix

0.0.2
  package-lock.json
  package.json
Due: prettier --write

deploy to testing
  .firebaserc
  firebase.json
  package.json
Due: prettier --write

add firebase auth, mobile antd
  package-lock.json
  package.json
  src/App.styled.ts
  src/components/DateSelector/DateSelector.styled.ts
  src/components/DateSelector/DateSelector.tsx
  src/components/Header/Header.styled.ts
  src/components/Header/Header.tsx
  src/index.html
  src/index.tsx
  src/lib/helpers/firebase.ts
  src/lib/helpers/prepareUser.ts
  src/lib/hooks/useMedia.ts
  src/lib/providers/CurrentUserProvider.tsx
  src/lib/types/index.ts
  src/pages/CalendarDayCountdown/CalendarDayCountdown.styled.ts
  webpack.config.js
Due: prettier --write, npm run lint -- --fix

0.0.3
  package-lock.json
  package.json
Due: prettier --write

change datepicker mobile styles
  src/App.styled.ts
Due: prettier --write, npm run lint -- --fix

0.0.4
  package-lock.json
  package.json
Due: prettier --write

new macbook
  .DS_Store
  .gitignore
  package-lock.json
  static/.DS_Store
Due: prettier --write

remove antd components, use mine
  package-lock.json
  package.json
  src/App.styled.ts
  src/components-basic/Avatar/Avatar.styled.ts
  src/components-basic/Avatar/Avatar.tsx
  src/components-basic/Avatar/index.ts
  src/components-basic/Button/Button.styled.ts
  src/components-basic/Button/Button.tsx
  src/components-basic/Button/index.ts
  src/components-basic/DateTimePicker/DateTimePicker.tsx
  src/components-basic/DateTimePicker/index.ts
  src/components-basic/Divider/Divider.styled.ts
  src/components-basic/Divider/Divider.tsx
  src/components-basic/Divider/index.ts
  src/components-basic/Input/Input.tsx
  src/components-basic/Input/index.ts
  src/components-basic/Spin/Spin.tsx
  src/components-basic/Spin/index.ts
  src/components-basic/Statistic/Statistic.styled.ts
  src/components-basic/Statistic/Statistic.tsx
  src/components-basic/Statistic/index.ts
  src/components-basic/Typography/Typography.styled.ts
  src/components-basic/Typography/Typography.tsx
  src/components-basic/Typography/index.ts
  src/components/DateSelector/DateSelector.tsx
  src/components/Header/Header.styled.ts
  src/components/Header/Header.tsx
  src/components/__icons__/GoogleIcon.tsx
  src/components/__icons__/LeftArrowIcon.tsx
  src/components/__icons__/LogoutIcon.tsx
  src/components/__icons__/RightArrowIcon.tsx
  src/lib/styles/libs/flatpickr.ts
  src/pages/CalendarDayCountdown/CalendarDayCountdown.tsx
  src/pages/Home/Home.tsx
  tools/dev/create-component.js
  webpack.config.js
Due: prettier --write, npm run lint -- --fix

Path conditions:
  prettier --write: (any of: *.{json,css,less,md}) or (any of: *.{js,jsx,ts,tsx,d.ts})
  npm run lint -- --fix: any of: *.{js,jsx,ts,tsx,d.ts}
